{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ title }}
{% endblock %}

{% block body %}
    <h1>Edit {{ title }}</h1>

    <form action="{% url 'edit' %}" method="post">
        {% csrf_token %}
        <input type="text" id="title" name="title" value="{{ title}}" readonly>
        <br>
        <p><label for="content">Write body text with Markdown:</label></p>
        <textarea id="content" name="content" style="height: 500px;">{{ content }}</textarea>
        <input type="submit" value="Update + Save">
    </form>
{% endblock %}